<?xml version="1.0" encoding="utf-8"?>
<!--AUTO GENERATED MANIFEST FILE FROM AndroidManifestGenerator. DONT MODIFY HERE.-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.voxelbusters.androidnativeplugin" android:versionCode="1" android:versionName="1.0">
  <application>
    <!--Application Launcher - Notifications : Used as a proxy to capture triggered notification.-->
    <activity android:name="com.voxelbusters.nativeplugins.features.notification.core.ApplicationLauncherFromNotification" android:theme="@style/FloatingActivityTheme" android:exported="true" />
    <!--UI  : Generic helper activity for launching Dialogs-->
    <activity android:name="com.voxelbusters.nativeplugins.features.ui.UiActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Custom File Provider. Sharing from internal folders  "com.voxelbusters.nativeplugins.extensions.FileProviderExtended"-->
    <provider android:name="com.voxelbusters.nativeplugins.extensions.FileProviderExtended" android:authorities="com.PartyTroll.Fourzy.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/nativeplugins_file_paths" />
    </provider>
    <!--Notifications : GCM Receiver-->
    <receiver android:name="com.voxelbusters.nativeplugins.features.notification.serviceprovider.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="com.PartyTroll.Fourzy" />
      </intent-filter>
    </receiver>
    <!--Notifications : Receiver for alarm to help Local Notifications-->
    <receiver android:name="com.voxelbusters.nativeplugins.features.notification.core.AlarmEventReceiver" />
    <!--Notifications : GCM Service-->
    <service android:name="com.voxelbusters.nativeplugins.features.notification.serviceprovider.gcm.GCMIntentService" />
  </application>
  <!--Permissions-->
  <!--For enabling GCM-->
  <permission android:name="com.PartyTroll.Fourzy.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="com.PartyTroll.Fourzy.permission.C2D_MESSAGE" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <!--Notifications : If vibration is required for notification-->
  <uses-permission android:name="android.permission.VIBRATE" />
  <!--Required for internet access-->
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>