<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46444527925-hjmc6qmnaro630noq1ed0663erk3ut5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46444527925-hjmc6qmnaro630noq1ed0663erk3ut5k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46444527925-l4g6751r054hmnnss3fti6movdeqmngk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBksnE-F50tj3znmh9ZvULgnwsqmRUFJLM</string>
	<key>GCM_SENDER_ID</key>
	<string>46444527925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PartyTroll.Fourzy</string>
	<key>PROJECT_ID</key>
	<string>crafty-fourzy-725</string>
	<key>STORAGE_BUCKET</key>
	<string>crafty-fourzy-725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46444527925:ios:1f1237922610a6a0</string>
	<key>DATABASE_URL</key>
	<string>https://crafty-fourzy-725.firebaseio.com</string>
</dict>
</plist>