<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2016 Google Inc. All Rights Reserved.

This file is a stub Manifest to create a proper gradle build. It defines no
dependencies, because we have no application or source. Dependencies will have
their own Manifest files which in the end get merged into a final Manifest file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="{app_id}"
          android:versionCode="1"
          android:versionName="1.0">
</manifest>
